# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Environment variables and Mock DBs
.env
.env.local
*.local
db.json

# Cypress artifacts
cypress/videos
cypress/screenshots
cypress/downloads

# IDEs and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

db.json 